<label for="alcoholicOrNot"> Alcoholic or Not </label>
  {{#x-select action='alcoholicOrNot' default='both'}}
    {{#x-option value='both'}}Both{{/x-option}}
    {{#x-option value='nonalcoholic'}}Non-Alcoholic{{/x-option}}
    {{#x-option value='alcoholic'}}Alcoholic{{/x-option}}
  {{/x-select}}



{{#each model as |drink|}}
  {{#if (or (eq (not drink.isAlcoholic) showNotAlcoholic) (eq drink.isAlcoholic showAlcoholic))}}
    {{recipe-tile drink=drink addToCart='addToCart'}}
  {{/if}}
{{/each}}
