<label for="alcoholicOrNot"> Alcoholic or Not </label>
{{#x-select action='alcoholicOrNot' default='both' id='alcoholicOrNot'}}
  {{#x-option value='both'}}Both{{/x-option}}
  {{#x-option value='nonalcoholic'}}Non-Alcoholic{{/x-option}}
  {{#x-option value='alcoholic'}}Alcoholic{{/x-option}}
{{/x-select}}

<label for="hotOrCold"> Hot or Cold </label>
{{#x-select action='hotOrCold' default='both' id='hotOrCold'}}
  {{#x-option value='both'}}Both{{/x-option}}
  {{#x-option value='hot'}}Hot{{/x-option}}
  {{#x-option value='cold'}}Cold{{/x-option}}
{{/x-select}}

{{log model}}



{{#each model as |drink|}}
  {{#if (or (eq (not drink.isAlcoholic) showNotAlcoholic) (eq drink.isAlcoholic showAlcoholic))}}
    {{#if (or (eq (not drink.isHot) showCold) (eq drink.isHot showHot))}}
      {{recipe-tile drink=drink addToCart='addToCart'}}
    {{/if}}
  {{/if}}
{{/each}}
