<form {{action 'search' on='submit'}}>
  <label for="search">Enter a drink name</label>
    {{input placeholder="Search Drinks" value=drinksearch id='search'}}
  <button type='submit'>Search</button>
</form>
