<form {{action 'search' on='submit'}}>
  <label for="search"></label>
  {{input value=drinksearch placeholder="Search Drinks" id='search' class="form-control" required=true}}
  <button id="searchButton" type="submit"><i class="fa fa-glass"></i></button>
</form>
