//override bootstrap variables here
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

@import 'bootstrap';

// VARIABLES+++++++++++++++++++++++

// MEDIA SCREEN SIZES ++++++
$tablet: "(min-width: 640px)";
$desktop: "(min-width: 940px)";
// COLOR ++++++
$teal: rgb(0, 224, 201);
$lightTeal: rgb(146, 252, 240);
$purple: rgb(199, 73, 120);
$lightPurple: rgb(255, 124, 170);
$orange: rgb(242, 149, 38);
$lightOrange: rgb(255, 199, 140);
$blue: rgb(11, 30, 221);
$blackish: rgb(7, 3, 4);
$lightGrey: rgb(242, 242, 242);

// BORDER BOX+++++++++++++++++++++++
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

// GLOBAL STYLES ==============

body {
  background-color: $blackish;
  color: $lightGrey;
  font-size: 16px;
  .enjoyResponsibly {
    text-align: right;
    color: $lightGrey;
    font-size: 12px;
    margin: 0 2px 10px 2px;
  }
}
.wrapper {
  margin: 20px;
}

// SEARCH COCKTAIL GLASS ICON ANIMATION ==============

#searchButton {
  animation: rainbow2 5s ease-in-out infinite;
}

@keyframes rainbow2 {
  0% {
    border: 2px solid $orange;
  }
  12% {
    border: 2px solid $orange;
  }
  37% {
    border: 2px solid $purple;
  }
  62% {
    border: 2px solid $teal;
  }
  87% {
    border: 2px solid $blue;
  }
  100% {
    border: 2px solid $orange;
  }
}

#searchButton i {
  animation: rainbow 5s ease-in-out infinite;
}

@keyframes rainbow {
  0% {
    color: $orange;
  }
  12% {
    color: $orange;
  }
  37% {
    color: $purple;
  }
  62% {
    color: $teal;
  }
  87% {
    color: $blue;
  }
  100% {
    color: $orange;
  }
}

// HERO LANDING AREA ++++++++++++++++++++++++++++++
.hero {
  background-image: url("images/cocktailImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
  width: 100%;
  @media screen and #{$tablet} {
      height: 80vh;
      background-image: url("images/cocktailImage2.png");
      background-position: top;
    }
  .navBar {
    display: flex;
    justify-content: center;
    background-color: rgba(7, 3, 4, .9);
    .links {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 30px;
      margin: 5px;
      @media screen and #{$tablet} {
        font-size: 40px;
        }
      .logoIcon {
        color: $teal;
        text-decoration: none;
        &:hover {
          color: $teal;
        }
        &:active {
          color: $teal;
        }
        &:visited {
          color: $teal;
        }
      }
      .cartDiv {
        color: white;
        display: flex;
        align-items: center;
      }
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
    margin-top: 200px;
    @media screen and #{$tablet} {
      margin-top: 40vh;
      }
    h1 {
      margin: 10px;
      color: rgba(255, 255, 255, 1);
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      letter-spacing: 5px;
      font-size: 70px;
      font-family: "Open Sans";
      font-weight: 800;
      @media screen and #{$tablet} {
        font-size: 100px;
        }
    }
  }
  .searchDiv {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
    #searchButton {
      margin-top: 25px;
      width: 50px;
      height: 50px;
      border: 2px solid $orange;
      color: $orange;
      background-color: rgba(0,0,0,0);
      @media screen and #{$tablet} {
        margin-top: 50px;
        width: 100px;
        height: 100px;
        border: 2px solid $orange;
        color: $orange;
        background-color: rgba(0,0,0,0);
      }
      i {
        font-size: 20px;
        @media screen and #{$tablet} {
          font-size: 60px;
        }
      }
    }
  }
}

.searchDrinksForm {
    @media screen and #{$tablet} {
      width: 250px;
      #search {
        height: 40px;
        font-size: 25px;
        text-align: center;
        background-color: white;
      }
    }
}

// ADD TO DRINK LIST DROPDOWN STYLES +++++++++++++++++++
.navBar {
  .links {
    .btn-group {
      button.cartDiv {
        background-image: none;
        background-color: rgba(199, 73, 120, 0);
        font-size: 25px;
        .cart {
          @media screen and #{$tablet} {
            font-size: 40px;
            }
        }
        .itemsInCart {
          padding-left: 5px;
          font-size: 25px;
          @media screen and #{$tablet} {
            font-size: 40px;
            }
        }
      }
      .dropdown-menu {
        background-image: none;
        background-color: rgba(199, 73, 120, .95) !important;
        width: 80vw !important;
        max-height: 90vh !important;
        overflow: scroll;
        @media screen and #{$tablet} {
          max-height: none;
          overflow: auto;
        }

      }
    }
  }
}

.navBar {
  .links {
    .btn-group.open {
      box-shadow: none;
      font-size: 25px;
      .cart {
        color: $lightPurple;
      }
      .itemsInCart {
        color: $lightPurple;
      }
    }
  }
}


// RECIPE TILE.HBS STYLES+++++++++++++++++++++++++++

.putOnTabButton-Enabled {
  animation: rainbow2 5s ease-in-out infinite;
}

@keyframes rainbow2 {
  0% {
    border: 1px solid $orange;
  }
  12% {
    border: 1px solid $orange;
  }
  37% {
    border: 1px solid $purple;
  }
  62% {
    border: 1px solid $teal;
  }
  87% {
    border: 1px solid $blue;
  }
  100% {
    border: 1px solid $orange;
  }
}

.putOnTabButton-Enabled i {
  animation: rainbow 5s ease-in-out infinite;
}

@keyframes rainbow {
  0% {
    color: $orange;
  }
  12% {
    color: $orange;
  }
  37% {
    color: $purple;
  }
  62% {
    color: $teal;
  }
  87% {
    color: $blue;
  }
  100% {
    color: $orange;
  }
}

// "NO DRINKS FOUND" STYLE +++++++++++++++++++++++

.noDrinksFound {
  color: $purple;
  text-align: center;
}

.recipeTileDiv {
  color: $lightGrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media screen and #{$tablet} {
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
    }
  }
}
.addDrinkButtonWrapper {
  text-align: center;
}
.addDrinkButtonText {
  color: $lightTeal;
  padding-right: 5px;
  margin: 0;
  @media screen and #{$tablet} {
    font-size: 20px;
  }
}
.putOnTabButton-Enabled {
  width: 25px;
  height: 25px;
  padding: 0;
  border: 1px solid $lightOrange;
  color: $lightOrange;
  background-color: $blackish;
  @media screen and #{$tablet} {
    width: 40px;
    height: 40px;
  }
  i {
    font-size: 10px;
    vertical-align: middle;
    @media screen and #{$tablet} {
      font-size: 20px;
    }
  }
}

.putOnTabButton-Disabled {
  width: 25px;
  height: 25px;
  padding: 0;
  border: 1px solid $lightTeal;
  color: $blackish;
  background-color: $lightTeal;
  @media screen and #{$tablet} {
    width: 40px;
    height: 40px;
  }
  i {
    font-size: 10px;
    vertical-align: middle;
    @media screen and #{$tablet} {
      font-size: 20px;
    }
  }
}

.drinkTitle {
  color: $lightTeal;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  @media screen and #{$tablet} {
    font-size: 30px;
  }
}

.drinkTitleSelected {
  text-align: center;
  color: $lightOrange;
  font-size: 25px;
  margin-top: 30px;
  @media screen and #{$tablet} {
    font-size: 30px;
  }
}

.alcoholOrNot {
  color: $lightGrey;
  text-align: center;
  @media screen and #{$tablet} {
    font-size: 20px;
  }
}
.youtube {
  padding-top: 20px;
  max-width: 100%;
  @media screen and #{$tablet} {
    width: 640px;
    height: 360px;

  }
}

.drink_tag {
  border: 1px solid $lightOrange;
  color: $lightOrange;
  margin: 10px;
  padding: 5px;
}


// CHECKOUT-TILE STYLES +++++++++++++++++++++++++
.checkoutWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $lightGrey;
  height: 100%;
  width: 100%;
  padding: 5px;
  .guestsDiv {
    display: flex;
    justify-content: center;
    .guestsSpan {
      padding-bottom: 20px;
      font-size: 18px;
    }
    .guestInput {
      color: $blackish;
    }
    #updateGuests {
      width: 100px;
    }
  }
}

// RECIPE-LIST STYLES +++++++++++++++++++++++++

.recipeList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $lightGrey;
  padding: 10px;
  @media screen and #{$tablet} {
    font-size: 18px;
  }
}

.dropdownForms {
  @media screen and #{$tablet} {
    width: 250px;
  }
}

// CHECKOUT-TILE STYLES +++++++++++++++++++++++++

.removeFromCart {
  list-style-type: none;
  padding: 10px 0;
  color: $lightOrange;
  font-size: 20px;
  i {
    font-size: 20px;
    padding-left: 10px;
    color: $lightTeal;
  }
}
.ingredientList {
  list-style-type: none;
  padding: 15px 0;
}
























// END
