//override bootstrap variables here
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

@import 'bootstrap';

// VARIABLES+++++++++++++++++++++++

$teal: rgb(0, 224, 201);
$lightTeal: rgb(146, 252, 240);
$purple: rgb(199, 73, 120);
$orange: rgb(242, 149, 38);
$lightOrange: rgb(255, 199, 140);
$blue: rgb(11, 30, 221);
$blackish: rgb(7, 3, 4);
$lightGrey: rgb(242, 242, 242);

// BORDER BOX+++++++++++++++++++++++
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

// GLOBAL STYLES ==============

body {
  background-color: $blackish;
  font-size: 16px;
}
.wrapper {
  margin: 20px;
}

// SEARCH COCKTAIL GLASS ICON ANIMATION ==============

#searchButton {
  animation: rainbow2 5s ease-in-out infinite;
}

@keyframes rainbow2 {
  0% {
    border: 2px solid $orange;
  }
  12% {
    border: 2px solid $orange;
  }
  37% {
    border: 2px solid $purple;
  }
  62% {
    border: 2px solid $teal;
  }
  87% {
    border: 2px solid $blue;
  }
  100% {
    border: 2px solid $orange;
  }
}

#searchButton i {
  animation: rainbow 5s ease-in-out infinite;
}

@keyframes rainbow {
  0% {
    color: $orange;
  }
  12% {
    color: $orange;
  }
  37% {
    color: $purple;
  }
  62% {
    color: $teal;
  }
  87% {
    color: $blue;
  }
  100% {
    color: $orange;
  }
}

// HERO LANDING AREA ++++++++++++++++++++++++++++++
.hero {
  background-image: url("images/cocktailImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  width: 100%;
  .navBar {
    display: flex;
    justify-content: center;
    background-color: rgba(242, 149, 38, .9);
    .links {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $teal;
      font-size: 30px;
      margin: 5px;
      .cartDiv {
        color: white;
        display: flex;
        align-items: center;
      }
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
    // margin: 0;
    margin-top: 200px;
    h1 {
      margin: 10px;
      color: rgba(255, 255, 255, 1);
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      letter-spacing: 5px;
      font-size: 70px;
      font-family: "Open Sans";
      font-weight: 800;
    }
  }
  .searchDiv {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
    #searchButton {
      margin-top: 25px;
      width: 50px;
      height: 50px;
      border: 2px solid $orange;
      color: $orange;
      background-color: rgba(0,0,0,0);
      i {
        font-size: 20px;
      }
    }
  }
}

.navBar {
  .links {
    .btn-group {
      button.cartDiv {
        background-image: none;
        background-color: rgba(199, 73, 120, 0);
        font-size: 30px;
        &.open {
          background-image: none;
          background-color: rgba(199, 73, 120, 0);
          font-size: 30px;
        }
        .itemsInCart {
          padding-left: 5px;
          font-size: 25px;
        }
      }
      ul.dropdown-menu {
        background-image: none;
        background-color: rgba(199, 73, 120, .95);
        width: 300px !important;
        max-height: 90vh !important;
        overflow: scroll;
        // height: 500px !important;
      }
    }
  }
}


// RECIPE TILE.HBS STYLES+++++++++++++++++++++++++++

.putOnTabButton-Enabled {
  animation: rainbow2 5s ease-in-out infinite;
}

@keyframes rainbow2 {
  0% {
    border: 1px solid $orange;
  }
  12% {
    border: 1px solid $orange;
  }
  37% {
    border: 1px solid $purple;
  }
  62% {
    border: 1px solid $teal;
  }
  87% {
    border: 1px solid $blue;
  }
  100% {
    border: 1px solid $orange;
  }
}

.putOnTabButton-Enabled i {
  animation: rainbow 5s ease-in-out infinite;
}

@keyframes rainbow {
  0% {
    color: $orange;
  }
  12% {
    color: $orange;
  }
  37% {
    color: $purple;
  }
  62% {
    color: $teal;
  }
  87% {
    color: $blue;
  }
  100% {
    color: $orange;
  }
}


.recipeTileDiv {
  color: $lightGrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addDrinkButtonWrapper {
  text-align: center;
}
.addDrinkButtonText {
  color: $lightTeal;
  padding-right: 5px;
  margin: 0;
}
.putOnTabButton-Enabled {
  width: 25px;
  height: 25px;
  padding: 0;
  border: 1px solid $lightOrange;
  color: $lightOrange;
  background-color: $blackish;
  i {
    font-size: 10px;
    vertical-align: middle;
  }
}

.putOnTabButton-Disabled {
  width: 25px;
  height: 25px;
  padding: 0;
  border: 1px solid $lightTeal;
  color: $blackish;
  background-color: $lightTeal;
  i {
    font-size: 10px;
    vertical-align: middle;
  }
}
.drinkTitle {
  color: $lightTeal;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}
.drinkTitleSelected {
  text-align: center;
  color: $lightOrange;
  font-size: 25px;
  margin-top: 30px;
}

.alcoholOrNot {
  color: $lightGrey;
  text-align: center;
}
.youtube {
  max-width: 100%;
}

.drink_tag {
  border: 1px solid $lightOrange;
  color: $lightOrange;
  margin: 10px;
  padding: 5px;
}


// CHECKOUT-TILE STYLES +++++++++++++++++++++++++
.checkoutWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $lightGrey;
  .guestsDiv {
    display: flex;
    justify-content: center;
    .guestsSpan {
      padding-bottom: 20px;
      font-size: 18px;
    }
    .guestInput {
      color: $blackish;
    }
    #updateGuests {
      width: 100px;
    }
  }
}

// RECIPE-LIST STYLES +++++++++++++++++++++++++

.recipeList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $lightGrey;
  padding: 10px;
}

// CHECKOUT-TILE STYLES +++++++++++++++++++++++++

.removeFromCart {
  list-style-type: none;
  padding: 10px 0;
  color: $lightOrange;
  font-size: 20px;
  i {
    font-size: 20px;
    padding-left: 5px;
    color: $lightTeal;
  }
}
.ingredientList {
  list-style-type: none;
  padding: 15px 0;
}
























// END
