
<div class="hero">
  <!-- NAVBAR -->
  <div class="navBar">
    <div class="links">
      <span class="logoIcon"><i class="fa fa-glass"></i></span>
      <div class="cartDiv">
        <span class="cart"><i class="fa fa-list-ul"></i></span>
        <span class="itemsInCart">{{items-in-cart}}</span>
      </div>
    </div>
  </div>
  <!-- TITLE -->
  <div class="title">
    <h1>dr/nk</h1>
    <div class="whiteLine"></div>
  </div>
  <!-- BUTTON -->
  <div class="searchDiv">
    {{search-form search='search'}}
  </div>
</div>
<div class="wrapper">
  {{checkout-tile}}
  {{outlet}}
</div>
